<!-- index.ejs -->

<html lang="en">
<%- include("./partials/head.ejs") %>

  <body class="bg-gray-100 font-sans">

    <!-- Include navigation -->
    <%- include("./partials/nav.ejs") %>


      <!-- Main content section -->
      <div class="container mx-auto px-4 py-8">

        <h2 class="text-3xl font-bold mb-6 text-gray-800">Explore Tech Blogs</h2>

        <!-- Blogs grid -->
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">

          <!-- Blog cards -->
          <% if (blogs.length> 0) { %>
            <% blogs.forEach(blog=> { %>
              <a href="/blogs/<%= blog._id %>"
                class="bg-white rounded-lg shadow-md p-6 flex flex-col justify-between hover:shadow-xl transition duration-300">
                <div>
                  <h3 class="text-xl font-semibold text-blue-900 mb-4">
                    <%= blog.title %>
                  </h3>
                  <p class="text-gray-700 mb-4 leading-relaxed">
                    <%= blog.snippet %>
                  </p>
                </div>
                <p class="text-blue-900 font-medium mt-4 hover:underline">Read More <span
                    class="inline-block ml-1">&#8594;</span></p>
              </a>
              <% }) %>
                <% } else { %>
                  <p class="text-gray-700">There are no blogs to display...</p>
                  <% } %>

        </div>

      </div>
      <br>
      <br>

      <!-- Include footer -->
      <%- include("./partials/footer.ejs") %>

  </body>

</html>